.blood-pool .item {
  margin-bottom: 4px;
}
.blood-pool .drop {
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-overflow: clip;
  border: 3px solid #d8324e;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.blood-pool .drop.filled {
  background: #d8324e;
}
