.character-sheet {
  display: flex;
  width: 100%;
}

.character-sheet__general-info {
  flex-grow: 1;
}
.vampire .character-sheet__general-info h1 {
  font-family: 'Nosifer', arial, serif;
}
.vampire .character-sheet__general-info .malkavian {
  font-family: 'Grunge', arial, serif;
}

.character-sheet__main {
  flex-grow: 3;
  text-align: center;
}
.character-sheet__section-columns {
  display: flex;
}
.character-sheet__section-columns div {
  flex-grow: 1;
}

.character-sheet__current-state {
  flex-grow: 1;
}
