.resource-pool {
  --drop-color: gray;
}

.resource-pool.blood {
  --drop-color: #d8324e;
}

.resource-pool.willpower {
  --drop-color: #f2d84e;
}

.resource-pool__item {
  margin-bottom: 4px;
}
.resource-pool__drop {
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  border: 3px solid var(--drop-color);
  text-overflow: clip;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.resource-pool__drop--filled {
  background: var(--drop-color);
}
